numpy==1.22.4
trimesh
autolab_core
h5py
pyrender
pyglet==1.5.27
python-fcl
urdfpy
open3d
--extra-index-url https://download.pytorch.org/whl/cu118 --trusted-host download.pytorch.org # PyTorch version needs to match CUDA version
torch
torchvision


## for RAMP
ipywidgets
scipy 
scikit-image 
scikit-learn
# python -m mppi_planning.trajectory_planning
# necessary for chamfer distance
wheel